* {
  margin: 0;
  padding: 0;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
  /* display: none; */
}

/* ::-webkit-scrollbar-track {
  background: #2d313b;
} */

::-webkit-scrollbar-thumb {
  background: #57595e;
  border-radius: 12px;
}

/* ::-webkit-scrollbar-thumb:hover {
  background: var(--alpha-light);
  border-radius: 12px;
} */